<h2>Por Pais</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" 
        placeholder="Buscar por pais ..."
        (onDebounce)="sugerencias($event)"></app-pais-input>
        
    </div>
</div>
<ul  *ngIf="mostrarSugerencias"
    class="list-group">
    <li *ngFor="let paises of paisesSugeridos" class="list-group-item list-group-item-action"> 
        <a [routerLink]="['/pais',paises.alpha2Code]" class="nav-link">{{paises.name}}</a>
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="buscarSugerido(termino)">
        <a class="nav-link">
            buscar "{{termino}}"
        </a>
    </li>
</ul>
<hr>
<div *ngIf="hayErro" class="alert alert-danger">
   No se encontro  {{termino}}
</div>
<div *ngIf="paises.length>0" class="row">
    <div class="col">
       <app-pais-tabla [paises]=paises></app-pais-tabla>
    </div>
</div>