<h3>Buscar por Region <small>region activa</small></h3>
<hr>
<h5>Seleccione region</h5>
<!-- [class.btn-primary]="region ===regionActiva" -->
<!-- [ngClass]="{
    'btn-primary':regionActiva === region,
    'btn-outline-primary':regionActiva !== region
}" -->
<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones" 
            [class]="getClassCss(region)" 
            (click)="activarRegion( region)">
            {{region}}
        </button>
    </div>
</div>
<div *ngIf="hayErro" class="alert alert-danger">
    No se encontro  {{regionActiva}}
 </div>
 <div *ngIf="paises.length>0" class="row">
     <div class="col">
        <app-pais-tabla [paises]=paises></app-pais-tabla>
     </div>
 </div>
